<div class="modal-body">
  <h1 class="display-4">
  <h1>ID: <%= @reader.id%><br></h1>
  <h2><p>  Email: <%= @reader.email %> </p></h2>
	<%= form_for @reader, url: reader_path(@reader), remote: true do |f| %>
	<%= f.text_field :first_name,  placeholder: "First Name", required: true %><br>
	<%= f.text_field :last_name, placeholder: "Last Name", required: true %><br>
	<br>
	<div class="ml-5">
    <button type="submit_tag" class="btn btn-primary">Update</button>
    </div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
  <% end %> 









 