<table class="table table-striped table-bordered table-hover">
	<thead class="thead-dark">
		<th>First Name</th>
		<th>Last Name</th>
		<th>Email</th>
		<th></th>
		<th></th>
	</thead>
	<tbody>
	      <% @readers.each do |reader| %>
			<tr>
				<td><%= reader.first_name %></td>
				<td><%= reader.last_name %></td>
				<td><%= reader.email %></td>
				<td><%= link_to "Delete", "/readers/#{reader.id}", method: :delete %></td>
				<td><%= link_to "Show", "/readers/#{reader.id}", method: :get %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "Add New Reader", new_reader_path, class:"btn btn-secondary" %>