<div class="jumbotron">
  <h1 class="display-4">
  <h1>Show Reader</h1>
  <div class="card-body">
    <br/>
ID: <%= @reader.id%><br>
<%= form_tag "/readers/#{@reader.id}", method: :put do %>
	First Name: <%= text_field_tag :reader_fname, @reader.first_name, placeholder: "First Name"%><br>
	Last Name: <%= text_field_tag :reader_lname, @reader.last_name, placeholder: "Last Name"%><br>
	<div>
	    <p>  Email: <%= @reader.email %> </p>
	</div>
	 <div class="col-12">
    <button type="submit_tag" class="btn btn-primary">Update</button>
  </div>
<% end %>
<br/>
</div>
</div>
	<br/>



