
<table class="table table-striped table-bordered table-hover">
	<thead class="thead-dark">
		<th scope="col" style="text-align: center;"> Book title</th>
		<th scope="col">Requested by</th>
		<th scope="col" style="text-align: center;">Status</th>
		<th scope="col" style="text-align: center;">Request Time</th>
		<th scope="col" style="text-align: center;">Accept/Reject Time</th>
		<th scope="col" style="text-align: center;">Return Time</th>
		<th scope="col">Due Date</th>
		<th scope="col">Fine</th>		
		<th colspan="5" style="text-align: center;">Actions</th>
	</thead>
	<tbody>
	      <% @requests.each do |request| %>
			<tr>
				<th scope="row"><%= request.book.title %></th>
				<td><%= request.user.email %></td>
				<td><%= request.request_type %></td>
				<td><%= request.created_at%></td>
				<td><%= request.updated_at%></td>
				<td><%= request.return_date%></td>
				<td><%= request.due_date%></td>
				<td><%= request.fine%></td>
				<% if request.pending? %>
				<td><%= link_to "Add Due Date", edit_request_path(id: request.id), class:"btn btn-outline-dark" %></td>
				<%end%>
				<td><%= link_to "Force Return", return_action_book_path(request.book.id), method: :put, class:"btn btn-warning" %></td>
				<% if !request.accepted? %>
				<td><%= link_to "Accepted", request_action_request_path(request: "accepted", id: request.id), class:"btn btn-outline-success" %></td>
				<else>
				<td><%= link_to "Rejected", request_action_request_path(id: request.id), class:"btn btn-outline-secondary" %></td>
				<td><%= link_to "Delete", "/requests/#{request.id}", method: :delete, class:"btn btn-outline-danger" %></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>



