<div class=" text-dark">
  <h1 class="display-6"><%= @book.title %></h1>
  <p class="lead"> 
    <%= @book.price %>-PKR |
    <%= @book.category.name %> |
    <%= @book.isbn %>-ISBN   |
    <%= @book.auther %>

    <h2>Book Rating</h2>
    <div class="average-review-rating" data-score=<%= @average_review %>></div>
    <span>Based on <%= @book.reviews.count %> Review </span>
    <h2>Remaining Return Days</h2>   
    <h4 class="text-danger "><%= "#{books_alert(@book)} Days" if books_alert(@book).present? %> </h4>
  </p>
  
<br/>
  <h1 class="my-4">
  <% if current_user.admin? %>
    <%= link_to 'Requests', requests_path(b_id: @book.id), class:"btn btn-primary" %>
    <%= link_to 'Back', books_path, class:"btn btn-dark" %>
  <% else %>
     <% if @book.requests.accepted.any? %>
     <% if current_user.requests.pluck(:book_id).include?(@book.id) %>
     <%= link_to "Add Review", "javascript:void(0)", class:"btn btn-secondary", onclick: "show_form()"  %> 
     <%= render 'reviews/form'%>
     <%= link_to 'Back', books_path, class:"btn btn-dark" %>
  <br>
<%end%>
<%end%>
   <%= render @book.reviews.order(created_at: :desc) %>
  <%end%>
</div>

<script>
  function show_form(){
    $("#add_review_form").removeClass("d-none")
  }
</script>




