<%= link_to reviews_top_books_path do %>
  <h1><span class="badge badge-secondary" >Top Books</span></h1>
<% end %>
<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Price</th>
      <th>Category</th>
      <th>Title</th>
      <th>Isbn</th>
      <th>Auther</th>
      <th>User Id</th>
      <th colspan="4" style="text-align: center;">Operations</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>  
      <tr>
        <td><%= book.price %></td>
        <td><%= book.category.name %></td>
        <td><%= book.title %></td>
        <td><%= book.isbn %></td>
        <td><%= book.auther %></td>
        <td><%= book.user_id %></td>  
        <td><%= link_to 'Show', book , class: "btn btn-primary btn-lg" %></td>

        <% if book.user == current_user %>
        <td><%= link_to 'Edit', edit_book_path(book), class: "btn btn-primary btn-;btn-lg" %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?'}, :remote => true,  class:"btn btn-danger btn-lg"  %></td>
        <% else %>
         <% if !book.requests.accepted.any? %>
          <td><%= link_to 'Request', requests_path(book_id: book.id, user_id: current_user.id), method: :post, class:"btn btn-primary btn-lg" %> </td>
          <% else %>
          <% if book.requests.accepted.any?%>
          <td><marquee behavior="scroll" direction="left"><h4>This Book is in Use</h></marquee></td>
        <%end%>
        <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

