<table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Price</th>
      <th>Category</th>
      <th>Title</th>
      <th>Isbn</th>
      <th>Auther</th>
      <th>User Id</th>
      <th colspan="4" style="text-align: center;">Operations</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>  
      <tr>
        <td><%= book.price %></td>
        <td><%= book.category.name %></td>
        <td><%= book.title %></td>
        <td><%= book.isbn %></td>
        <td><%= book.auther %></td>
        <td><%= book.user_id %></td>  
        <td><%= link_to 'Show', book, class:"btn btn-primary btn-lg mb-4" %></td>

        <% if book.user == current_user %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
         <% if !book.requests.accepted.any? %>
          <td><%= link_to 'Request', requests_path(book_id: book.id, user_id: current_user.id), method: :post %> </td>
        <%end%>
           <% if !book.requests.returned.any? %>
          <td><%= link_to 'Return', return_action_book_path(book.id), method: :put, class:"btn btn-primary btn-lg mb-4"  %> </td>
        <%end%>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<br>